nav {
    display: flex;
    flex-wrap: wrap;
}

ul {
    width: 1306px;
    display: flex;
    justify-content: right;

    li {
        margin: 30px 40px;
        font-weight: 400;
        font-size: 17px;
        line-height: 19.55px;
        color: #636060;
    }

    .owl {
        margin-right: 605px;
        margin-left: 99px;
    }
}

.owl-div {

    .owl {
        margin-top: 24px;
        margin-left: 99px;
    }
}


.section1-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/images/background1.svg);
    width: 1440px;
    height: 606px;

    h1 {
        font-weight: 700;
        font-size: 79px;
        line-height: 90.84px;
        color: #FFFFFF;
    }

    p {
        font-weight: 400;
        font-size: 19px;
        line-height: 21.85px;
        color: #FFFFFF
    }
}
