nav {
    display: flex;
    flex-wrap: wrap;
}

ul {
    width: 1308px;
    display: flex;
    justify-content: right;

    li {
        font-family: "Roboto", sans-serif;
        margin: 30px 40px 30px 10px;
        font-weight: 400;
        font-size: 17px;
        line-height: 19.55px;
        color: #636060;
    }

    i {
        margin-top: 30px;
    }
}

.owl-div {

    .owl {
        margin-top: 15px;
        margin-left: 99px;
        
    }
}

.section1-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/background1.svg");
    width: 1440px;
    height: 606px;
    margin-right: 100px;

    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 79px;
        line-height: 90.84px;
        color: #FFFFFF;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 21.85px;
        color: #FFFFFF
    }
}

.description {
    display: flex;
    flex-direction: column;
    max-width: 418px;
    padding-left: 100px;
    padding-right: 10px;

    .p1 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 19.55px;
        color: #636060;
        padding-top: 84px;
        padding-bottom: 9px;
    }

    .p2 {
        font-family: "Roboto", sans-serif;
        box-sizing: content-box;
        font-weight: 400;
        font-size: 28px;
        line-height: 32.2px;
        color: #010101;
    }

    .p3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #636060;
        padding-top: 37px;
        padding-bottom: 607px;
    }
}

.section2-div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    margin-left: 50px;


    div {
        max-width: 286px;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 21.85px; 
        color: #343232;
        margin-top: 23px;
        margin-bottom: 10px;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 20.07px;  
        color: #636060;
    }

    .top {
        margin-top: 84px;
    }

    .bottom {
        margin-bottom: 100px;
    }
}

.section2 {
    display: flex;
    flex-direction: row;
}